@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
    font-family: 'Inter', sans-serif;
  }
}

.nav-link-active {
  @apply bg-indigo-600 text-white shadow-lg shadow-indigo-200;
}